@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  max-width: 800px;
  font-weight: bold;
  font-family: monospace;
  margin: 0 auto;
  color: #03c5b1;
  font-size: 28px;
  background-color: #090B0B;
}